<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="style.css">
    <title>Add Client</title>
</head>
<body>

    <div class="infobar"></div>
    <div class="iconlogout" onclick="replace7()"><img src="logout.png"></div>    
    <div class="header"></div>
    <div class="leftside"></div>
    <div id="slothRest"><img src="slothRest.png"></div>

    <div class="sliders"><img src="skiders.png"></div>
    <div class="key" onclick="replace1()"><img src="key.png"></div>
    <div class="add"><img src="add.png"></div>
    <div class="happy" onclick="replace3()"><img src="happy.png"></div>
    <div class="room" onclick="replace4()"><img src="room.png"></div>
    <div class="admin" onclick="replace5()"><img src="admin.png"></div>
    <div class="home" onclick="replace6()"><img src="home.png"></div>

    <div class="textmenu" style="top: 124px;" onclick="replace1()">Заселити Клієнта</div>
    <div class="textmenu" style="top: 175px;">Додати Клієнта</div>
    <div class="textmenu" style="top: 220px;" onclick="replace3()">Знайти Клієнта</div>
    <div class="textmenu" style="top: 273px;" onclick="replace4()">Кімнати</div>
    <div class="textmenu" style="top: 322px;" onclick="replace5()">Додати Адміністратора</div>

    <div name="titleAddclient" id="titleAddclient">Додавання клієнта</div>

    <div class="textaddclient" name="textaddclient1" style="width: 187px; height: 40px; left: 476px; top: 204px;">Введіть прізвище</div>
    <div class="textaddclient" name="textaddclient2" style="width: 137px; height: 40px; left: 478px; top: 307px;">Введіть ім`я</div>
    <div class="textaddclient" name="textaddclient3" style="width: 224px; height: 40px; left: 476px; top: 414px;">Введіть По-батькові</div>
    <div class="textaddclient" name="textaddclient4" style="width: 264px; height: 40px; left: 476px; top: 521px;">Введіть номер паспорту</div>
    <div class="textaddclient" name="textaddclient5" style="width: 193px; height: 40px; left: 476px; top: 629px;">Введіть телефон</div>

    <form>
        <input type="text" class="addclientFields" name="surnameAddclient" style="top: 245px;">
        <input type="text" class="addclientFields" name="nameAddclient" style="top: 347px;">
        <input type="text" class="addclientFields" name="midnameAddclient" style="top: 455px;">
        <input type="text" class="addclientFields" name="passAddclient" style="top: 563px;">
        <input type="text" class="addclientFields" name="phoneAddclient" style="top: 671px;">
    </form>

    <div id="buttonaddclient" name="buttonaddclient"></div>
    <div id="buttontextaddclient" name="buttontextaddclient">Додати</div>
    <div ><img id="buttonimaddclient" name="buttonimaddclient" src="buttonSloth.png"></div>

    <script>
        function replace1() {
            location.replace("placeclient.html")
        }

        function replace3() {
            location.replace("findclient.html")
        }

        function replace4() {
            location.replace("rooms.html")
        }

        function replace5() {
            location.replace("addadmin.html")
        }
        function replace6() {
            location.replace("home.html")
        }
        function replace7() {
            location.replace("login.html")
        }
    </script>

</body>
</html>