<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body id="b">
        
    <div id="buttonlogin" name="buttonlogin" onclick="replace()"></div>
    <div id="buttontextlogin" name="buttontextlogin" onclick="replace()">Увійти</div>
    <div ><img id="buttonimlogin" name="buttonimlogin" src="slEye3.png" onclick="replace()"></div>
    <div ><img id="sloth1" name="sloth1" src="slEye2.png"></div>
    <div ><img id="sloth2" name="sloth2" src="slEye11.png"></div>
    <div ><img id="sloth3" name="sloth3" src="slEye12.png"></div>
    <div class="textlog" name="textlog1" style="width: 66px; height: 40px; left: 425px; top: 339px;">Логін</div>
    <div class="textlog" name="textlog2" style="width: 82px; height: 40px; left: 423px; top: 507px;">Пароль</div>

    <form>
        <input type="text" class="logininp" name="logininp1" style="top: 379px;">
        <input type="password" class="logininp" name="logininp2" style="top: 547px;">
    </form>
    
    <script>
    function replace() {
        location.replace("home.html")
    }</script>

</body>
</html>