<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="style.css">
    <title>Find  Rooms</title>
</head>
<body>
        
    <div><img id="sloth6F" name="sloth6F" src="sloth6.png"></div>    
    <div class="infobar"></div>
    <div class="iconlogout" onclick="replace7()"><img src="logout.png"></div>    
    <div class="header"></div>
    <div class="leftside"></div>
    <div id="slothRest"><img src="slothRest.png"></div>

    <div class="sliders"><img src="skiders.png"></div>
    <div class="key"onclick="replace1()"><img src="key.png"></div>
    <div class="add" onclick="replace2()"><img src="add.png"></div>
    <div class="happy" onclick="replace4()"><img src="happy.png"></div>
    <div class="room" ><img src="room.png"></div>
    <div class="admin" onclick="replace5()"><img src="admin.png"></div>
    <div class="home" onclick="replace6()"><img src="home.png"></div>

    <div class="textmenu" style="top: 124px;" onclick="replace1()">Заселити Клієнта</div>
    <div class="textmenu" style="top: 175px;" onclick="replace2()">Додати Клієнта</div>
    <div class="textmenu" style="top: 220px;">Знайти Клієнта</div>
    <div class="textmenu" style="top: 273px;" onclick="replace4()">Кімнати</div>
    <div class="textmenu" style="top: 322px;" onclick="replace5()">Додати Адміністратора</div>

    <div id="textfindroom">Виберіть номер кімнати</div>
    <div id="buttonfindclient" onclick="uploadFindroom()"></div>
    <div id="textfindclientbutton" onclick="uploadFindroom()">Знайти</div>
    <div id="buttonimfindclient" onclick="uploadFindroom()"><img src="buttonSloth.png"></div>
    

    <input class="rectsearchclient" type="text" list="suggestions" placeholder="Оберіть кімнату" />
    <datalist id="suggestions">
        <option>Room1</option>
        <option>Room2</option>
        <option>Room3</option>
    </optgroup>
    </datalist>

    <div id="infoaboutrooms" name="infoaboutrooms" style="display:none;">Info about room</div>

    <table id="tablefindroom" style="display:none; left: 580px;">
        <tr>
            <td class="th">ПІБ клієнта</td><td class="th">Дата заселення</td><td class="th">Дата виселення</td>
        </tr>
    </table>


    <script>

        function uploadFindroom(){
            var x = document.getElementById("tablefindroom");
            var x1 = document.getElementById("sloth6F");
            var x2 = document.getElementById("infoaboutrooms");
            if (x.style.display === "none" && x2.style.display === "none") {
                x.style.display = "block";
                x2.style.display = "block";
                x1.style.display = 'none';
            } 
        }

        function replace2() {
            location.replace("addclient.html")
        }

        function replace1() {
            location.replace("placeclient.html")
        }

        function replace4() {
            location.replace("findclient.html")
        }

        function replace5() {
            location.replace("addadmin.html")
        }
        function replace6() {
            location.replace("home.html")
        }

        function replace7() {
            location.replace("login.html")
        }
        </script>
</body>
</html>